In [34]:
%reload_ext autoreload
%autoreload 2

In [35]:
from fastai.tabular import *
from fastai.basics import *
import pandas as pd
import os

In [36]:
train = pd.read_csv('../rossmann-store-sales/train.csv')
store = pd.read_csv('../rossmann-store-sales/store.csv')
test = pd.read_csv('../rossmann-store-sales/test.csv')
sample = pd.read_csv('../rossmann-store-sales/sample_submission.csv')

/home/f/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [38]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [39]:
test

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [40]:
sample

          Id  Sales
0          1      0
1          2      0
2          3      0
3          4      0
4          5      0
...      ...    ...
41083  41084      0
41084  41085      0
41085  41086      0
41086  41087      0
41087  41088      0

[41088 rows x 2 columns]

In [41]:
googletrend = pd.read_csv('../rossmann_additional/googletrend.csv')
state_names = pd.read_csv('../rossmann_additional/state_names.csv')
store_states = pd.read_csv('../rossmann_additional/store_states.csv')
weather = pd.read_csv('../rossmann_additional/weather.csv')

In [42]:
googletrend

                file                     week  trend
0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4     Rossmann_DE_SN  2012-12-30 - 2013-01-05     67
...              ...                      ...    ...
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05     95
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12     47
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19     80
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26     57
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03      0

[2072 rows x 3 columns]

In [43]:
state_names

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

In [44]:
store_states

      Store State
0         1    HE
1         2    TH
2         3    NW
3         4    BE
4         5    SN
...     ...   ...
1110   1111    NW
1111   1112    NW
1112   1113    SH
1113   1114    HH
1114   1115    HE

[1115 rows x 2 columns]

In [45]:
weather

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,31.0,15.0,10.0,27,10,50.0,1.02,7.0,Rain,113
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,31.0,13.0,4.0,32,16,53.0,9.91,5.0,Rain-Thunderstorm,213
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,31.0,12.0,10.0,34,14,NaN,0.00,5.0,Rain,193
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,31.0,10.0,4.0,32,14,45.0,20.07,7.0,Rain-Thunderstorm,147
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,31.0,14.0,8.0,27,16,47.0,6.10,6.0,Rain,202

In [46]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, suffixes=("", suffix))

In [47]:
weather = join_df(weather, state_names, 'file', 'StateName')

In [48]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

In [49]:
#example for better understanding of time series:
# this = {'date':['20.01.2020', '21.01.2020']}
# df_this = pd.DataFrame(data=this)
# df_this
# df_this.date=pd.to_datetime(df_this.date, infer_datetime_format=True)
# df_this.date.dtype
# dir(df_this.date.dt)
# df_this.date.dt.dayofyear

In [50]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date."
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [51]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

In [52]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

In [53]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [54]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [55]:
# to have a better understanding:
# a = joined.StoreType.isnull()
# b = joined[joined.StoreType.isnull()]
# --> a is a serie that looks for StoreType column if there is a null element. and returns a bool serie.
# --> b is a dataframe. This dataframe is a subdataframe of joined dataframe. b returns all the rows that StoreType is null.

#NOTE:
# joined[['a_column_name']] --> returns a dataframe
# joined['a_column_name'] --> returns a series
# joined[joined['a_column_name'].is_something()] --> returns a dataframe where condition is true for that column.

In [56]:
joined.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1017199,1017200,1017201,1017202,1017203,1017204,1017205,1017206,1017207,1017208
Store,1,2,3,4,5,6,7,8,9,10,...,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115
DayOfWeek,5,5,5,5,5,5,5,5,5,5,...,2,2,2,2,2,2,2,2,2,2
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,...,2013-01-01 00:00:00,2013-01-01 00:00:00,2013-01-01 00:00:00,2013-01-01 00:00:00,2013-01-01 00:00:00,2013-01-01 00:00:00,2013-01-01 00:00:00,2013-01-01 00:00:00,2013-01-01 00:00:00,2013-01-01 00:00:00
Sales,5263,6064,8314,13995,4822,5651,15344,8492,8565,7185,...,0,0,0,0,0,0,0,0,0,0
Customers,555,625,821,1498,559,589,1414,833,687,681,...,0,0,0,0,0,0,0,0,0,0
Open,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Promo,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
StateHoliday,0,0,0,0,0,0,0,0,0,0,...,a,a,a,a,a,a,a,a,a,a
SchoolHoliday,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Year,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,...,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013
Month,7,7,7,7,7,7,7,7,7,7,...,1,1,1,1,1,1,1,1,1,1
Week,31,31,31,31,31,31,31,31,31,31,...,1,1,1,1,1,1,1,1,1,1
Day,31,31,31,31,31,31,31,31,31,31,...,1,1,1,1,1,1,1,1,1,1
Dayofweek,4,4,4,4,4,4,4,4,4,4,...,1,1,1,1,1,1,1,1,1,1
Dayofyear,212,212,212,212,212,212,212,212,212,212,...,1,1,1,1,1,1,1,1,1,1
Is_month_end,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
Is_month_start,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
Is_quarter_end,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Is_quarter_start,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
Is_year_end,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Is_year_start,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800,1438300800,1438300800,1438300800,1438300800,1438300800,...,1356998400,1356998400,1356998400,1356998400,1356998400,1356998400,1356998400,1356998400,1356998400,1356998400
StoreType,c,a,a,c,a,a,a,a,a,a,...,a,a,a,c,c,a,c,a,a,d
Assortment,a,a,a,c,a,a,c,a,c,a,...,c,a,a,a,c,a,c,c,c,c
CompetitionDistance,1270,570,14130,620,29910,310,24000,7520,2030,3160,...,5330,1400,540,3490,900,1900,1880,9260,870,5350
CompetitionOpenSinceMonth,9,11,12,9,4,12,4,10,8,9,...,9,6,4,4,9,6,4,NaN,NaN,NaN
CompetitionOpenSinceYear,2008,2007,2006,2009,2015,2013,2013,2014,2000,2009,...,2011,2012,2004,2011,2010,2014,2006,NaN,NaN,NaN
Promo2,0,1,1,0,0,0,0,0,0,0,...,1,1,0,1,0,1,0,0,0,1
Promo2SinceWeek,NaN,13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31,13,NaN,22,NaN,31,NaN,NaN,NaN,22
Promo2SinceYear,NaN,2010,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013,2010,NaN,2012,NaN,2013,NaN,NaN,NaN,2012
PromoInterval,NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,"Jan,Apr,Jul,Oct",NaN,"Jan,Apr,Jul,Oct",NaN,NaN,NaN,"Mar,Jun,Sept,Dec"
State,HE,TH,NW,BE,SN,SN,SH,SH,NW,"HB,NI",...,SH,BY,SN,BY,BE,NW,NW,SH,HH,HE

In [58]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [59]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [60]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [57]:
joined.columns, len(joined.columns)

(Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
        'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
        'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
        'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
        'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
        'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
        'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State'],
       dtype='object'), 32)

In [61]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

In [62]:
joined.columns, len(joined.columns)

(Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
        'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
        'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
        'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
        'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
        'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
        'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
        'week', 'trend', 'file_DE', 'week_DE', 'trend_DE', 'Date_DE',
        'State_DE', 'Month_DE', 'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE',
        'Is_month_end_DE', 'Is_month_start_DE', 'Is_quarter_end_DE',
        'Is_quarter_start_DE', 'Is_year_end_DE', 'Is_year_start_DE',
        'Elapsed_DE', 'Max_TemperatureC', 'Mean_TemperatureC',
        'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
        'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
        'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
        'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
        'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
        'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
        'WindDirDegrees', 'StateName'],
       dtype='object'), 74)

In [63]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

In [64]:
a=joined[['CompetitionOpenSinceMonth','CompetitionOpenSinceYear']]
a

         CompetitionOpenSinceMonth  CompetitionOpenSinceYear
0                                9                      2008
1                               11                      2007
2                               12                      2006
3                                9                      2009
4                                4                      2015
...                            ...                       ...
1017204                          6                      2014
1017205                          4                      2006
1017206                          1                      1900
1017207                          1                      1900
1017208                          1                      1900

[1017209 rows x 2 columns]

In [65]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [66]:
b = joined[['CompetitionOpenSince','CompetitionDaysOpen']]
b

        CompetitionOpenSince  CompetitionDaysOpen
0                 2008-09-15                 2510
1                 2007-11-15                 2815
2                 2006-12-15                 3150
3                 2009-09-15                 2145
4                 2015-04-15                  107
...                      ...                  ...
1017204           2014-06-15                 -530
1017205           2006-04-15                 2453
1017206           1900-01-15                41259
1017207           1900-01-15                41259
1017208           1900-01-15                41259

[1017209 rows x 2 columns]

In [67]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0
#NOTE:
# df.loc[df.CompetitionDaysOpen<0] = 0 --> this sets whole dataframe to 0 where CompetitionDaysOpen<0.
# df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0 --> this only sets 1 column to 0 where CompetitionDaysOpen<0.

In [68]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

In [69]:
joined[['Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']]

         Promo2SinceWeek  Promo2SinceYear     PromoInterval
0                      1             1900               NaN
1                     13             2010   Jan,Apr,Jul,Oct
2                     14             2011   Jan,Apr,Jul,Oct
3                      1             1900               NaN
4                      1             1900               NaN
...                  ...              ...               ...
1017204               31             2013   Jan,Apr,Jul,Oct
1017205                1             1900               NaN
1017206                1             1900               NaN
1017207                1             1900               NaN
1017208               22             2012  Mar,Jun,Sept,Dec

[1017209 rows x 3 columns]

In [70]:
#NOTE: THIS STRUCTURE IS IMPORTANT:(apply() and lambda)
from isoweek import Week
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [71]:
joined[['Promo2Since', 'Promo2Days']]

        Promo2Since  Promo2Days
0        1900-01-01       42214
1        2010-03-29        1950
2        2011-04-04        1579
3        1900-01-01       42214
4        1900-01-01       42214
...             ...         ...
1017204  2013-07-29        -209
1017205  1900-01-01       41273
1017206  1900-01-01       41273
1017207  1900-01-01       41273
1017208  2012-05-28         218

[1017209 rows x 2 columns]

In [94]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [97]:
joined.to_pickle('joined')
joined_test.to_pickle('joined_test')

### durations:

In [108]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

In [ ]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [90]:
df_hello = pd.DataFrame({'col1': [1, 2,3,4], 'col2': [5,6,7,8],'col3': [9,10,11,12], 'col4': [13, 14,15,16]})
df_hi = pd.DataFrame({'col5': [1, 2,3,4], 'col6': [5,6,7,8],'col7': [9,10,11,12], 'col8': [13, 14,15,16]})
df_hello,
df_hi

df_hi['col9'] = df_hi.apply(lambda x: 2*x.col5, axis=1)

df_hi

   col5  col6  col7  col8  col9
0     1     5     9    13     2
1     2     6    10    14     4
2     3     7    11    15     6
3     4     8    12    16     8